<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Machine</title>
    <script>
        function toggleText() {
            var desc = document.getElementById("desc");
            if (desc.style.display === "none") {
                desc.style.display = "block";
            } else {
                desc.style.display = "none";
            }
        }
    </script>
    <style>
        footer {
          padding: 20px;
          float: left
          width: 30%;
          background-color: #f1f1f1;
          position: absolute;
          bottom: 0;
        }
    </style>

</head>
    <body>
        <link></link>
        <h1>Enter location &</h1>
        <h1>Press the Button to Call the Function</h1>
        <form action="/" method="GET">
            <input type="text" name="text" placeholder="Enter text">
            <input type="checkbox" id="fiveDay" name="fiveDay" value="True">
            <label for="fiveDay"> Get All Upcoming Forecast</label>
            <input type="checkbox" id="hourly" name="hourly" value="True">
            <label for="hourly"> Hourly Forcast</label>
            <input type="checkbox" id="metric" name="metric" value="True">
            <label for="hourly"> Use Metric</label><br>
            <button type="submit" formaction="/lookup">Lookup</button>
            <button type="submit" formaction="/getmyweather">Lookup my Location Instead</button><br><br>
        </form>
        <section>
            {% for row in text %}
                <pre>{{ row }}</pre>
            {% endfor %}
        </section>
        <footer>
        <button onclick="toggleText()">Info</button>
            <section id="desc", style="display:none;">
        <p class="info">This Project was made by Kordell Carmin for The Product Manager Accelerator Program</p>
        <p class="info">
            The Product Manager Accelerator Program is designed to support PM professionals through every stage of their career. From students looking for entry-level jobs to Directors looking to take on a leadership role, our program has helped over hundreds of students fulfill their career aspirations.
            Our Product Manager Accelerator community are ambitious and committed. Through our program they have learnt, honed and developed new PM and leadership skills, giving them a strong foundation for their future endeavours.
        </p>
                </section>
        </footer>
    </body>
</html>
